<!DOCTYPE html><!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Track order status - AfterShip - 1ZY8V5520457704777</title>
    <meta name="description" content="View delivery results of 1ZY8V5520457704777 for AfterShip">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="https://assets.aftership.com/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://assets.aftership.com/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://assets.aftership.com/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://assets.aftership.com/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="https://assets.aftership.com/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="https://assets.aftership.com/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://assets.aftership.com/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="https://assets.aftership.com/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://assets.aftership.com/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="https://assets.aftership.com/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://assets.aftership.com/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="https://assets.aftership.com/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://assets.aftership.com/favicons/android-chrome-192x192.png"
          sizes="192x192">
    <link rel="icon" type="image/png" href="https://assets.aftership.com/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://assets.aftership.com/favicons/manifest.json">
    <link rel="shortcut icon" href="https://assets.aftership.com/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#faa41a">
    <meta name="msapplication-TileImage" content="https://assets.aftership.com/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="https://assets.aftership.com/favicons/browserconfig.xml">
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
<div id="page" class="theme-default"><h1 class="sr-only">Shipment:1ZY8V5520457704777</h1>
    <div class="page-content-wrapper text-09">
        <div class="container-fluid">
            <div class="row title-row">
                <div class="col-xs-12">
                    <style>.store-home__image-link, .store-home--image {
                        background-image: url();
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50%;
                        width: 150px;
                        height: 50px;
                        text-align: center;
                    }

                    @media (min-width: 544px) {
                        .store-home__image-link, .store-home--image {
                            width: 300px;
                            height: 75px;
                            text-align: left;
                            background-position: 0 50%;
                        }
                    }</style>
                    <div class="pull-sm-left store-home"><a href="http://www.aftership.com" class="store-home--text">AfterShip</a>
                    </div>
                </div>
            </div>
            <div class="block m-b-2">
                <div class="row">
                    <div class="col-xs-12"><p id="tracking-number" class="tracking-number--bar text-xs-center m-b-0">
                        1ZY8V5520457704777</p></div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 courier-info media m-y-1">
                            <div class="media-left"><a href="https://www.aftership.com/courier/ups"><img
                                    src="//assets.aftership.com/couriers/svg/ups.svg" width="64" height="64"></a></div>
                            <div class="media-right"><a href="https://www.aftership.com/courier/ups"
                                                        class="link--black"><h2 class="h4 notranslate">UPS</h2></a><a
                                    href="tel:1800834834" class="link--phone">1800834834</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="clearfix text-xs-center tag-delivered additional-info">
                            <div class="col-sm-6"><p class="tag text-tight">Delivered</p></div>
                            <div class="col-sm-6"><p class="text-tight">Signed by: BEN</p></div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="checkpoints">
                            <ul class="checkpoints__list">
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 19, 2016</strong>
                                        <div class="hint">03:00 pm</div>
                                    </div>
                                    <div class="checkpoint__icon delivered"></div>
                                    <div class="checkpoint__content"><strong>Delivered<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">GIVATAYIM, IL, 53401</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 18, 2016</strong>
                                        <div class="hint">09:14 pm</div>
                                    </div>
                                    <div class="checkpoint__icon outfordelivery"></div>
                                    <div class="checkpoint__content"><strong>Out For Delivery<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 18, 2016</strong>
                                        <div class="hint">09:14 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Destination Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 18, 2016</strong>
                                        <div class="hint">04:15 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>The Federal Communication Commission
                                        requires additional information before the package can be released. / Your
                                        package was released by the clearing agency.<span
                                                class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint"></div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 11, 2016</strong>
                                        <div class="hint">04:11 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>The Federal Communication Commission
                                        requires additional information before the package can be released. / We've
                                        contacted the receiver.<span
                                                class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 10, 2016</strong>
                                        <div class="hint">04:43 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>The Federal Communication Commission
                                        requires additional information before the package can be released. / We've
                                        contacted the receiver.<span
                                                class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 07, 2016</strong>
                                        <div class="hint">04:13 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>The Federal Communication Commission
                                        requires additional information before the package can be released. / We've
                                        contacted the receiver.<span
                                                class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 06, 2016</strong>
                                        <div class="hint">03:30 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>The Federal Communication Commission
                                        requires additional information before the package can be released. / We've
                                        contacted the receiver.<span
                                                class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 05, 2016</strong>
                                        <div class="hint">03:42 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>The Federal Communication Commission
                                        requires additional information before the package can be released. / We've
                                        contacted the receiver.<span
                                                class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 04, 2016</strong>
                                        <div class="hint">02:50 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>A phone number is required for clearance or
                                        delivery. We're working to obtain this information. / We're unable to contact
                                        the receiver.<span class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 03, 2016</strong>
                                        <div class="hint">11:26 am</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>A phone number is required for clearance or
                                        delivery. We're working to obtain this information. / We'll contact the sender
                                        or receiver about this delivery.<span
                                                class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 02, 2016</strong>
                                        <div class="hint">11:19 am</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Arrival Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 02, 2016</strong>
                                        <div class="hint">08:13 am</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Departure Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Yesilkoy Istanbul, TR</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 02, 2016</strong>
                                        <div class="hint">07:57 am</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Departure Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Koeln, DE</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 02, 2016</strong>
                                        <div class="hint">07:23 am</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Arrival Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Yesilkoy Istanbul, TR</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 02, 2016</strong>
                                        <div class="hint">04:13 am</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Departure Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Koeln, DE</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 01, 2016</strong>
                                        <div class="hint">06:51 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Arrival Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Koeln, DE</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 01, 2016</strong>
                                        <div class="hint">09:13 am</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>The Federal Communication Commission
                                        requires additional information before the package can be released. / We've
                                        contacted the receiver.<span
                                                class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Lod, IL</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 01, 2016</strong>
                                        <div class="hint">05:13 am</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Departure Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Louisville, KY, US</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 01, 2016</strong>
                                        <div class="hint">03:12 am</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Export Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Louisville, KY, US</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jul 01, 2016</strong>
                                        <div class="hint">02:06 am</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Arrival Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">Louisville, KY, US</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jun 30, 2016</strong>
                                        <div class="hint">07:09 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Departure Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">San Jose, CA, US</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jun 30, 2016</strong>
                                        <div class="hint">06:25 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Arrival Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">San Jose, CA, US</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jun 30, 2016</strong>
                                        <div class="hint">06:10 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Departure Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">San Jose, CA, US</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jun 30, 2016</strong>
                                        <div class="hint">06:07 pm</div>
                                    </div>
                                    <div class="checkpoint__icon intransit"></div>
                                    <div class="checkpoint__content"><strong>Origin Scan<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">San Jose, CA, US</div>
                                    </div>
                                </li>
                                <li class="checkpoint">
                                    <div class="checkpoint__time"><strong>Jun 30, 2016</strong>
                                        <div class="hint">06:02 pm</div>
                                    </div>
                                    <div class="checkpoint__icon inforeceived"></div>
                                    <div class="checkpoint__content"><strong>Order Processed: Ready for UPS<span
                                            class="checkpoint__courier-name">UPS</span></strong>
                                        <div class="hint">US</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><p>Date & time are usually in local time of the checkpoint location.</p></div>
            </div>
        </div>
        <footer role="contentinfo" class="container-fluid footer">
            <div class="row m-y-3">
                <div class="col-md-6 text-xs-center text-md-left text-muted">
                    <ul class="ui-list">
                        <li class="powered-by-aftership">Powered by <a href="https://www.aftership.com">AfterShip</a>
                        </li>
                        <li><a href="https://www.aftership.com/terms" class="link--muted">Terms</a></li>
                        <li><a href="https://www.aftership.com/privacy" class="link--muted">Privacy</a></li>
                    </ul>
                </div>
            </div>
            <div class="fixed">
{#                <div class="container-fluid">#}
{#                    <div class="translate-target"><a href="#translate-button" rel="language"#}
{#                                                     class="translate-button"><span#}
{#                            class="hidden-sm-down">Translate</span></a></div>#}
{#                </div>#}
            </div>
        </footer>
    </div>
</div>
</body>